<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 85%;
            margin: 24px auto;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #f5f5f5;
        }
/* 
        .btn_edit {
            outline: none;
            border: none;
            background: orange;
            height: 25px;
            width: 60px;
            border-radius: 3px;
            cursor: pointer;
        }

        .btn_delete {
            outline: none;
            border: none;
            background: #ff0023;
            height: 25px;
            width: 60px;
            border-radius: 3px;
            cursor: pointer;
        } */
    </style>
</head>
<body>
    <table>
        <tr>
          <th>Email</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
        <% for(let i=0; i<dataTable.length; i++) {%>
            <tr>
                <td><%= dataTable[i].email %></td>
                <td><%= dataTable[i].firstName %></td>
                <td><%= dataTable[i].lastName %></td>
                <td><%= dataTable[i].address %></td>
                <td>
                    <a href="/edit-crud?id=<%= dataTable[i].id %>" class="btn_edit btn btn-info" type="button">Edit</a>
                    <a href="/delete-crud?id=<%= dataTable[i].id %>" class="btn_delete btn btn-danger" type="button">Delete</a>
                </td>
              </tr>
         <% } %>
        
        
      </table>
</body>
</html>